.settings/
.buildpath
build.xml
.metadata/
*~
Java/TopCoder/

#C++ ignores
# Compiled Object files
*.slo
*.lo
*.o
Debug/

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#java ignores
*.class

# Package Files #
*.jar
*.war
*.ear

#Python ignores
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

